:root {
  --white: #FFFFFF;
  --dark-row-primary: #39393e;
  --dark-row-secondary: #323236;
}


/* Table */
.dx-datagrid-headers .data-header {
  background-color: var(--primary);
  color: var(--white)
}

.dark .dx-datagrid .dx-row-alt>td {
  background-color: var(--dark-row-secondary) !important;
  color: var(--white);
}

.dark .dx-datagrid-rowsview .dx-row:nth-child(odd) {
  background-color: var(--dark-row-primary) !important;
  color: var(--white);
}

/* Checkbox */
.dark .dx-checkbox-icon {
  border: 2.4px solid #E9ECEF99 !important;
}

.dx-command-select .dx-cell-focus-disabled .dx-editor-cell .dx-editor-inline-block {
  background-color: #FF0000 !important;
}

/* Input Search */
.dark .dx-texteditor-input {
  background-color: var(--dark-row-secondary) !important;
}

.dark .dx-texteditor-input::placeholder {
  color: var(--white) !important;
}

.dx-group-panel-message {
  opacity: 0;
}